{{>header}}
{{>navbar}}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>artical</th>
            <th>content</th>
        </tr>
    </thead>
    <tbody>
        {{#each dta}}
        <tr>
            <td>{{this._id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.content}}</td>
            <td>
                <a href="/single/{{this._id}}" class="btn btn-primary mx-2">Show</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{>footer}}